# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables and virtualenvs
.env
.env.*
!.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Testing and Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.nox/
.tox/
.hypothesis/

# Static Analysis
.mypy_cache/
.ruff_cache/
.pyre/

# Build and Distribution
dist/
build/
*.egg-info/

# Research and Documentation
.ipynb_checkpoints
.python-version
site/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Database and logs
*.sqlite3
*.db
*.log
simulator.log*

# App specific
sam.txt
data_export/

*.csv
